.header_row {
    height: 54px;
    background: rgba(250, 250, 250, 1);
    box-shadow: 1px 0px 0px 0px rgba(232, 232, 232, 1), 0px 1px 0px 0px rgba(232, 232, 232, 1);
    font-size: 14px;
    font-family: PingFangSC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}